{% extends 'layout/layout.twig' %}

{% block content %}
    <p>Your destination 
    </p>
    <form class="form-inline" action="{{ url('destination') }}" method="get">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control input-lg" type="text" name="title" value="{{ title_search != '' ? title_search : '' }}" />
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>
    <p>
    &nbsp;
    </p>
    <table class="table">
        <tr>
         <th>Title</th>
         <th>Action</th>
        </tr>
        {% for destination in destinations %}
            <tr>
                <td><a href="{{ url('destination', {'action' : 'show', 'id' : destination.id }) }}">{{ destination.title }}</a></td>
                <td>
                    <a href="{{ url('destination', {'action' : 'edit', 'id' : destination.id }) }}">Edit</a>
                    <a href="{{ url('destination', {'action' : 'delete', 'id' : destination.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
