{% extends 'layout/layout.twig' %}

{% block content %}
    <section class="container">
        <div class="shadow-box super-margin-box super-padding-box">
            <h1>{{ destination.title }}</h1>
            <div class="row">
                <div class="col-md-9">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in destination.picture %}
                                <li data-target="#carousel-example-generic" data-slide-to="0" {{ loop.first ? 'class="active"' : '' }}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for image in destination.picture %}
                                <div class="item {{ loop.first ? 'active' : '' }}">
                                    <img class="img-responsive" src="/img/uploads/{{ image.name }}">
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="row">

                    </div>
                    <hr>
                    <h3>{{ translate('Description') }}</h3>
                    <p>{{ destination.description }}</p>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-warning btn-lg btn btn-block show-contact-info"><i class="fa fa-plus"></i> {{ translate('Contact informations') }}</button>
                    <div class="well well-sm super-margin-box" style="display: none" id="contact-info">
                        <p class="lead"> <i class="fa fa-phone"></i> {{ destination.phone }}</p>
                    </div>
                </div>
            </div>
        </div>
        <p>
            <a href={{ url('destination', {'action':'edit', 'id':destination.id})}}>Edit</a> |
            <a href={{ url('destination', {'action':'delete', 'id':destination.id})}}>Delete</a>
        </p>
    </section>
{% endblock content %}

{% block inline %}
    <script type="text/javascript">
        $(function() {
            $('.show-contact-info').click(function () {
                $('#contact-info').toggle('bounce',500);
            });
        });
    </script>
{% endblock inline %}