{% extends 'layout/layout.twig' %}

{% block style %}
    <link href="{{ basePath() }}/css/jquery-ui.min.css" media="screen" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
    <section id="homepage-hero" class="homepage-section">
        <div class="container">
            <div class="jumbotron">
                <div class="text-center">
                    <h1>{{ translate('Welcome to %sZend 101%s'|format('<span class="zf-green">', '</span>')) }}</h1>
                    <p class="lead">Browse and book the best travel destinations in Germany.</p>
                </div>
                <form class="form-horizontal" role="form" action="{{ url('destination') }}" method="get">
                    <div class="form-group-lg">
                        <div class="col-md-8 col-md-offset-2 search">
                            <div class="col-md-6">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-addon"><i class="fa fa-map-marker fa-lg"></i></div>
                                    <input class="form-control" type="text" name="city" placeholder="Wo m&ouml;chtest Du reisen ?" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control input-lg">
                                    <option value="0">F&uuml;r</option>
                                    <option value="1">1</option>
                                    <option value="5">5 Leute</option>
                                    <option value="20">20 Leute</option>
                                    <option value="50">50 Leute</option>
                                    <option value="100">Mehr als 50</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-primary btn-lg" type="submit" value="SUCHEN">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="homepage-featured" class="homepage-section">
        <div class="container">
            <h2 class="homepage-section-header">Explore the last destinations</h2>
            <div class="row content-row-20">
                {% for post in featured_posts %}
                    <div class="col-md-4">
                        <a href="{{ url('destination', { 'action':'show','id':post.id}) }}" />
                        <img class="img-thumbnail img-responsive" src="/img/uploads/{{ post.picture[0]['name'] }}" />
                        </a>
                        <h3>{{ post.title }}</h3>
                        <p><i class="fa fa-map-marker"></i> {{ post.city }}</p>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="homepage-testimonial" class="homepage-section">
        <div class="container">
            <h2 class="homepage-section-header">What say they about us?</h2>
            <div class="row content-row-20">
                <div class="col-md-4">
                    <p class="lead">Real guests, real hosts, real success.</p>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <blockquote>
                        "Use PivotDesk once and you'll use it again. It makes the entire process really smooth."
                        <br>
                        <span class="text-info">Joel Wishkovsky @JoelWish | COO Sols New York city</span>
                    </blockquote>
                    <blockquote>
                        "PivotDesk allows me to grow my office space at the same rate as my headcount, while at the same time tapping into the resources and opportunities provided by my Host company."
                        <br>
                        <span class="text-info">Char Genevier @cgenevier | CEO The Cotery Boulder</span>
                    </blockquote>
                </div>
            </div>
            <div class="row content-row-20">
                <div class="col-md-4">
                    <p class="lead">Growing start, already spotted ;)</p>
                </div>
                <div class="col-md-7 col-md-offset-1">

                    <blockquote>
                        <img width="60" style="float:right" class="img-circle" src="/img/portrait/marc.png">
                        "Use PivotDesk once and you'll use it again. It makes the entire process really smooth."
                        <br>
                        <span class="text-info">Joel Wishkovsky @JoelWish | COO Sols New York city</span>
                    </blockquote>
                    <blockquote>
                        <img width="60" style="float:right" class="img-circle" src="/img/portrait/lorenz.png">
                        "PivotDesk allows me to grow my office space at the same rate as my headcount, while at the same time tapping into the resources and opportunities provided by my Host company."
                        <br>
                        <span class="text-info">Char Genevier @cgenevier | CEO The Cotery Boulder</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block inline %}
    <script type="text/javascript" src="{{ basePath() }}/js/jquery-ui.min.js"></script>
    <script>
        $(function() {

            $( "#city" ).autocomplete({
                source: "destination/cities",
                minLength: 1,
                select: function( event, ui ) {

                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
    </script>
{% endblock inline %}
